## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
x = 5
print(x)

5

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
b = 8.5
type(b)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
# print(x)
type(x)

int

4) Crear una variable que contenga tu nombre

In [7]:
mi_nombre= 'Virginia Belen'

5) Crear una variable que contenga un número complejo

In [8]:
nro_complejo = 3 + 2j
print(nro_complejo)

(3+2j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
type(nro_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [10]:
pi = 3.1416

poner round lo redondea a 4 o dpende el numero que elijas

In [12]:
import math

round(math.pi,4)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [14]:
val1 = 'true'
val2 = True

val1 == val2

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [16]:
print (type(val1))
print (type(val2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [17]:
a = 5.2 + 4

11) Realizar una operación de suma de números complejos

In [18]:
numero1 = 2 + 3j
numero2 = 1 + 2j

resultado = numero1 + numero2
print(resultado)

(3+5j)

12) Realizar una operación de suma de un número real y otro complejo

In [19]:
c = numero1 + 2.61
print(c)

(4.609999999999999+3j)

13) Realizar una operación de multiplicación

In [20]:
print(5 * 4)

20

In [21]:
a = 5
b = 4
c= a * b
print (c)

20

14) Mostrar el resultado de elevar 2 a la octava potencia

In [22]:
a = 2 ** 8
print(a)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [23]:
a = 27 / 4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [24]:
parte_entera = 27 // 4 
print(parte_entera)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [25]:
resto = 27 % 4
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [26]:
res = 4*parte_entera + resto
print(res)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [27]:
var1 = 'hola '
var2 = 'mundo!'
var3 = var1 + var2
print(var3)

hola mundo!

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [28]:
a = '2'
b = 2

a == b # a es igual a b?

False

In [29]:
print (type(a))
print(type(b))

<class 'str'>
<class 'int'>

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [30]:
a = int('2')
b = 2

a == b

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
a = float('3,8') # va con punto npara reconocer como float

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [31]:
a = 3
a -= 1 # es lo mismo que a - 1
print (a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario? binario es solo 1 y 0
1 en binario = 001
resultado = 0100 #se mueve hacia la izquierda o der depende la consigna

In [32]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [33]:
a = 2
b = '2'
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
a = 2
b = int('2')
a + b

4

In [35]:
a = str(2)
b = '2'
a + b # junta los numeros porque no se pueden sumar porque son distintos por eso da 22

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [36]:
frase = 'hola mundo!'
val = 3
print (frase*3)

hola mundo!hola mundo!hola mundo!

In [38]:
print(frase, str(val), 'veces')

hola mundo! 3 veces

In [40]:
frase + str(val) +  'veces' #concatenando

'hola mundo!3veces'

In [43]:
frase_2 = f"{frase} {val} veces"
print(frase_2)

hola mundo! 3 veces